@model EquipmentManagement.Models.Member

@{
    ViewData["Title"] = "Delete";
}

            <h1>刪除確認</h1>

            <h3>您確定要刪除此使用者?</h3>
            <div>
                <h4>Member</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Stu_mail)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Stu_mail)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Phone)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Phone)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Identity)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Identity)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Member_fee)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Member_fee)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CreateDate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CreateDate)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a asp-action="Index">Back to List</a>
                </form>
            </div>