@model IEnumerable<EquipmentManagement.Models.Member>

@{
    ViewData["Title"] = "會員管理系統";
}
<div class="page-wrap">
    <partial name="_Nav" />

    <!-- Main -->
    <section id="main">
        <div class="gallery">

            <h1>@ViewData["Title"]</h1>

            <p>
                <a asp-action="Create">新增新的使用者</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Stu_mail)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Phone)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Identity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Member_fee)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreateDate)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model) {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Stu_mail)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Phone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Identity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Member_fee)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreateDate)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <partial name="_Footer" />
    </section>
</div>