@model EquipmentManagement.Models.BorrowOrder

@{
    ViewData["Title"] = "租借明細";
}

<div class="page-wrap">
    <partial name="_Nav" />

    <!-- Main -->
    <section id="main">
        <div class="gallery">

            <h1>明細查詢</h1>

            <div>
                <h4>BorrowOrder</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Member)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Member)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Borrow_time)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Borrow_time)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Restore_time)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Restore_time)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Remark)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Remark)
                    </dd>
                </dl>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <a asp-action="Index">Back to List</a>
            </div>

        </div>
        <partial name="_Footer" />
    </section>
</div>