@model EquipmentManagement.Models.BorrowOrder

@{
    ViewData["Title"] = "Details";
    int totalPrice = 0;
}


<div class="container" style="min-height: 22em">
    <main role="main" class="pb-1">
        <h1>租借明細</h1>
        <p>
            <a href="#">編號-@Html.Raw(string.Format("{0:yyyyMMdd}{1:00}", Model.Borrow_time, Model.Id))</a>
        </p>
        <hr />
        <dl class="row">
            @if (Model.Member.Name != "") {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Member.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Member.Name)
                </dd>
            }
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Stu_mail)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Stu_mail)
            </dd>
            @if (Model.Member.Hot_mail != Model.Stu_mail && Model.Member.Hot_mail != "") {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Member.Hot_mail)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Member.Hot_mail)
                </dd>
            }

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Restore_time)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Restore_time)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Restore_state)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Restore_state)
            </dd>
        </dl>


        <table class="myTable">
            <thead>
                <tr>
                    <th></th>
                    <th>名稱</th>
                    <th>價格</th>
                    <th>數量</th>
                    <th>小計</th>
                    <th>備註</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.BorrowRecords) {
                    totalPrice += item.Price;
                <tr>
                    <td align="center">
					@if(item.Equipment.Img != null) {
                        <div class="img-thumbnail">
                            <img src="data:image/png;base64,@(Convert.ToBase64String(item.Equipment.Img)) " width="40">
                        </div>
						}
                    </td>
                    <td>@Html.Raw(item.Equipment.Name)</td>
                    <td>

                        @if (Model.Member.Member_fee) {
                            @Html.Raw(item.Equipment.Price_member);
                        } else {
                            @Html.Raw(item.Equipment.Price_non_member);
                        }
                    </td>
                    <td>@Html.Raw(item.Quantuty)</td>
                    <td>@Html.Raw(item.Price)</td>
                    <td>@Html.Raw(item.Remark)</td>
                </tr>
                }
                  
                </tbody>
        </table>

    </main>
</div>
<div class="container" style="min-height: 45em">
    <main role="main" class="pb-1">
        <div class="row">
            <div class="col-6">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td style="font-size: 18px; font-weight:bold;">備註：<br> @Html.DisplayFor(model => model.Remark)</td>
                            </tr>
                            <tr>
                                <td style="font-size: 18px; font-weight:bold; text-align:left;">
                                    租借剩餘期限：<br>
                                    @if (Model.Restore_time.Subtract(DateTime.Now).TotalDays > 0) {
                                        @Html.Raw(Model.Restore_time.Subtract(DateTime.Now).TotalDays.ToString("0") + "天");
                                    } else if (Model.Restore_state) {
                                        @Html.Raw("<a style=\"color:purple\">已歸還</a>")
                                    } else {
                                        @Html.Raw("<a style=\"color:red\">已逾期! 請盡速歸還</a>")
                                    }

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-6">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td style="font-size: 18px; font-weight:bold; text-align:left;">總額：@Html.Raw(totalPrice)</td>
                            </tr>
                            <tr>
                                <td style="font-size: 18px; font-weight:bold; text-align:left;">訂單時間：@Html.DisplayFor(model => model.Borrow_time)</td>
                            </tr>
                            <tr>
                                <td style="font-size: 18px; font-weight:bold; text-align:left;">訂單期限：@Html.Raw(Model.Restore_time.Subtract(Model.Borrow_time).TotalDays)天</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

