@model IEnumerable<EquipmentManagement.Models.BorrowOrder>

@{
    ViewData["Title"] = "器材租借訂單";
}

<h1>器材租借訂單</h1>


<table class="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Restore_state)
            </th>
            <th>
                訂單編號
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Borrow_time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restore_time)
            </th>
            <th>
                租期
            </th>
            <th>
                訂單金額
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Restore_state)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Html.Raw(string.Format("{0:yyyyMMdd}{1:00}", item.Borrow_time, item.Id))</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Borrow_time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Restore_time)
            </td>
            <td>
                @Html.Raw(item.Restore_time.Subtract(item.Borrow_time).TotalDays.ToString("0"))天
            </td>
            <td>
                NT$ @Html.DisplayFor(modelItem => item.Member.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>

        </tr>
        }
    </tbody>
</table>
