@model IEnumerable<EquipmentManagement.Models.Equipment>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "裝備一覽";
}

        <table class="myTable">
            <thead>
                <tr>
                    <th colspan="2">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        剩餘
                    </th>
                    <th>
                        總數
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price_non_member)
                    </th>
                    @if (SignInManager.IsSignedIn(User) & ViewBag.isMember) {
                        <th>
                            @Html.DisplayNameFor(model => model.Price_member)
                        </th>
                    }
                    </tr>
            </thead>
            <tbody>

                <!-- style="background-color:rgb(249, 148, 156)" -->
                @foreach (var item in Model) {
                    var style = "";
                    if (item.Surplus == 0) {
                        style = "color:red";
                    } else if (item.Quantity - item.Surplus > 0) {
                        style = "color:green";
                    }
                <tr>
                    <td align="center">
                        @if (item.Img != null) {
                            <div class="img-thumbnail">
                                <img src="data:image/png;base64,@(Convert.ToBase64String(item.Img)) " width="50" />
                               </div>
                                }
                        </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td style="@style">
                        @Html.DisplayFor(modelItem => item.Surplus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price_non_member)
                    </td>
                    @if (SignInManager.IsSignedIn(User) & ViewBag.isMember) {
                        <td>
                            @Html.DisplayFor(modelItem => item.Price_member)
                        </td>
                    }
                    </tr>
                }
            </tbody>
        </table>